/* Formatação global */

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    height: 100vh;
}


/* tag da prefeitura */

.prefeitura-do-rio-apresenta {
    display: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    padding: 10px 0px;
}

.prefeitura-do-rio-apresenta p {
    text-align: center;
    font-size: 0.7rem;
    color: rgb(240, 240, 240);
}


/* Navegação Topo */

.navTop {
    display: flex;
    position: fixed;
    top: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0);
    width: 95%;
    transition: top 0.3s;
}

.navTop :nth-child(1) {
    flex-grow: 1;
    margin: 0;
}

.navItem {
    margin: 0 10px 0 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

#logo img {
    max-width: 100%;
    padding: 0px 15px 15px 15px;
}

#edicao-1 {
    cursor: pointer;
}

#edicao-1 a {
    text-decoration: none;
    cursor: pointer;
    font-size: 0.5rem;
}

#edicao-1 button {
    text-transform: uppercase;
    padding: 7px;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    cursor: pointer;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

#social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 20px;
}

#social img {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
}

#traducao {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
}

#traducao a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 10px 10px 10px;
    color: rgb(255, 255, 255);
}

#hamburger {
    padding: 0px 15px 15px 15px;
    z-index: 4;
}


/* formatação do menu overlay */

#OverlayNav {
    display: none;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.900);
    z-index: 3;
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
}

#OverlayNav .overlay-content {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 35%;
}

#OverlayNav .overlay-content li {
    min-width: 100vw;
    list-style-type: none;
    text-align: center;
    margin: 10px 0px;
}

#OverlayNav .overlay-content li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2.0pt;
    line-height: 1.5;
}

#OverlayNav .overlay-content li a:hover {
    color: rgb(255, 255, 255);
    font-size: 2.1em;
}


/* Paginação */

#pagination {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: flex-end;
    justify-content: center;
    right: 1px;
    height: 100vh;
    width: auto;
}

#pagination ul {
    list-style-type: none;
}

#pagination ul li {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s;
    width: 130px;
    height: 40px;
}

#pagination ul li a {
    text-decoration: none;
    color: rgb(163, 163, 163);
    padding: 4%;
    margin: 4%;
}

#pagination ul li a:hover {
    color: rgb(255, 255, 255);
}

#pagination .scroll-link.novaClasse {
    color: rgb(255, 255, 255);
}


/* Animação da paginação */

#pagination ul li a:before {
    content: attr(data-text);
    position: absolute;
    right: 20%;
    width: 0;
    overflow: hidden;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    transition: width 0.5s;
    text-align: center;
}

#pagination ul li a:hover:before {
    width: 100%;
    background: rgb(255, 255, 255);
}

#pagination .scroll-link.novaClasse:before {
    width: 100%;
}


/* Sections */


/* background do header */


/* .Header-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
} */

header {
    height: 100vh;
}

.Header-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .Header-bg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .Header-bg {
        width: auto;
        height: 100%;
    }
}


/* Section home */

#home {
    height: 100vh;
}


/* Section Sobre o Projeto */

.sobre-o-projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: 100%;
    height: auto;
    background-color: black;
    scroll-snap-align: start;
}

.sobre-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: auto;
    padding: 5% 2%;
    color: rgb(240, 240, 240);
}

.sobre-content h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 2%;
    margin-top: 5%;
}

.sobre-content p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 100;
    margin-top: 4%;
    margin-bottom: 4%;
}

.sobre-content .bold {
    font-weight: 600;
}


/* section fotografos */

#fotografos {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    background: rgb(0, 0, 0);
}

#fotografos p {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

#fotografos ul {
    text-align: center;
    display: flex;
    width: fit-content;
    flex-direction: column;
}

#fotografos ul li {
    list-style-type: none;
    margin: 5px 0px;
}

#fotografos ul li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    color: rgb(190, 190, 190);
    transition: 0.5s;
}

#fotografos ul li a:before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: width 0.5s;
}

#fotografos ul li a:hover:before,
#fotografos ul li .active a:before {
    width: 100%;
}

#fotografos.um {
    background: url(../images/fotografos/andersom_valentim.jpg);
    background-size: cover;
}

#fotografos.dois {
    background: url(#);
    background-size: cover;
}

#fotografos.tres {
    background: url(#);
    background-size: cover;
}

#fotografos.quatro {
    background: url(#);
    background-size: cover;
}

#fotografos.cinco {
    background: url(../images/fotografos/joyce_marques.jpg);
    background-size: cover;
}

#fotografos.seis {
    background: url(#);
    background-size: cover;
}

#fotografos.sete {
    background: url(#);
    background-size: cover;
}

#fotografos.oito {
    background: url(#);
    background-size: cover;
}

#fotografos.nove {
    background: url(#);
    background-size: cover;
}


/* Talentos */

#talentos {
    scroll-snap-align: start;
    background: rgb(0, 0, 0);
}

.talentos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.talentos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    width: 75%;
    height: auto;
    margin: 50px 0px;
}

.box-talento {
    padding: 15px;
    margin: 20px 0px;
    position: relative;
}

.box-talento img {
    height: 240px;
}

.overlayTalento.verde,
.overlayTalento.azul,
.overlayTalento.vermelho {
    position: absolute;
    top: 14px;
    right: 0;
    bottom: 0;
    left: 14px;
    height: 78%;
    width: 84%;
    transition: .5s ease;
    opacity: 0;
}

.overlayTalento.verde {
    background-color: rgb(32, 32, 32)
}

.overlayTalento.azul {
    background-color: rgb(32, 32, 32)
}

.overlayTalento.vermelho {
    background-color: rgb(32, 32, 32)
}

.box-talento:hover .overlayTalento {
    opacity: .5;
    mix-blend-mode: multiply;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    scroll-snap-align: start;
}

footer .LogoPatrocinio {
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255)
}

footer .LogoPatrocinio a img {
    height: 50px;
    margin: 30px 30px;
}

footer .desenvolvimento {
    display: flex;
    width: 90%;
    padding: 20px;
    justify-content: space-around;
    align-items: baseline;
}

footer .desenvolvimento a {
    text-decoration: none;
}